<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title style="color:blue">{{name}}</mat-card-title>
        <mat-card-subtitle>happy</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{post.body}}</mat-card-content>
    <mat-card-actions>
        <mat-divider></mat-divider>
        <button mat-icon-button (click)="like(post._id, post.authorId, post.isLike, viewerId)"
            [ngClass]="{backgroundColor: post.isLike }" class="button">
            <mat-icon>thumb_up</mat-icon>
            <span>Like</span>
        </button>
        <button mat-button class="button">
            <mat-icon>comment</mat-icon><span>Comment</span>
        </button>
        <mat-divider></mat-divider>
    </mat-card-actions>
    <div>
        <input matInput placeholder="Write a comment" #comment>
        <button (click)="sendComment(comment.value, post._id, post.authorId)" mat-icon-button>
            <mat-icon>label_important</mat-icon>
        </button>
    </div>


    <div *ngFor="let comment of comments">
        <div>
            <img src="./cat.jpg" alt="pug">
            {{viewerName}}
        </div>
        <p> {{comment.body}}</p>
    </div>
</mat-card>