.avatar{
    background-image: url('cat.jpg');
    background-size: cover;
   }
   button{
       width:45%;
   }
   mat-card-content{
       display: inline;
   }
   .backgroundColor{
       background-color:blue;
   }
   img{
       width:40px;
       height:40px;
       border-radius:100px;
       
   }
  #comment{
     background-color:blue;
     color:white;
     border-radius: 20px;
     padding: 10px;
 }
 mat-card{
    border-bottom: lightblue;
 }

